
*{
    outline: none;
}

:root{
    --primary:skyblue;
}

.scroll::-webkit-scrollbar {
	width: 7px;
	
}

.scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color:blueviolet;
}

button{
    background-color:var(--primary);
}